
<app-menu></app-menu>
<h1>Welcome to the String Music App!</h1>
<div class="card">
    <div class="card-body">
        <span stlye="margin-left: 5px">The purpose of this app is to build some basic musical skills for beginning to intermediate students 
            taking string orchestra classes. You will be able to create a profile, create activities 
            to practice your skills, and track your progress. Use the menu at the top of the screen 
            to navigate between the different pages. Click on "Login" to access your account, or 
        </span>
        <a routerLink="/users/create">create a new one.</a>
        <img src="assets/img/home-vln.jpg" alt="">
    </div>

</div>