
<div>
    <span>Create an Account</span>
    <span> | </span>
    <a routerLink="/users/login">Go Back</a>
</div>

<div class="container">
    <form name="userCreateForm">
        <div *ngIf="admin" class="mb-3">
            <label for="id">Id</label>
            <input type="text" name="id" class="form-control" placeholder="id"
                    size="10" value="0" disabled>
        </div>

        <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control"
                    size="20" [(ngModel)]="user.username" name="username">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="text" id="password" class="form-control"
                    size="20" [(ngModel)]="user.password" name="password">
            <label for="password2">Re-enter password</label>
            <input type="text" id="password2" class="form-control"
                    size="20" [(ngModel)]="pass" name="pass">
        </div>
        <div class="mb-3">
            <label for="firstame">First Name</label>
            <input type="text" id="firstName" class="form-control"
                    size="20" [(ngModel)]="user.firstname" name="firstname">
        </div>
        <div class="mb-3">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" class="form-control"
                    size="20" [(ngModel)]="user.lastname" name="lastname">
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control"
                    size="20" [(ngModel)]="user.email" name="email">
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="isTeacher" >
                Are you a teacher?
            </label>
            <input type="checkbox" class="form-check-input"
                    name="isTeacher" id="isTeacher" [(ngModel)]="user.isTeacher">
        </div>
        <div *ngIf="admin" class="mb-3 form-check">
            <label class="form-check-label" for="isAdmin">
                Are you a system admin?
            </label>
            <input type="checkbox" class="form-check-input"
                    name="isAdmin" id="isAdmin" [(ngModel)]="user.isAdmin">
        </div>
        <button (click)="create()" class="btn btn-primary">Create</button>
        <br>
        <label *ngIf="badPass">Passwords do not match!</label>
        <label *ngIf="missing">Missing required fields!</label>
     </form>

</div>
        