<app-menu></app-menu>
<h2>Edit {{model.name}}</h2>
<table>
    <tr>
        <td>Name</td>
        <td>
            <input type="text" size="30" [(ngModel)]="model.name">
        </td>
    </tr>
    <tr>
        <td>Correct Answer</td>
        <td>
            <input type="text" size="30" [(ngModel)]="model.correctAnswer">
        </td>
    </tr>
    <tr>
        <td>Question Text</td>
        <td>
            <input type="text" size="30" [(ngModel)]="model.questionText">
        </td>
    </tr>
    <tr>
        <td>Points Possible</td>
        <td>
            <input type="number" min="1" max="10" [(ngModel)]="model.pointsPossible">
        </td>
    </tr>
    <tr>
        <td>Photo Path</td>
        <td>
            <input type="text" size="40" [(ngModel)]="model.photoPath">
        </td>
    </tr>
    <tr>
        <td>Activity Type</td>
        <td>
            <select [(ngModel)]="model.activityType">
                <option *ngFor="let type of types" value="{{type.name}}">{{type.name}}</option>
            </select>
        </td>
    </tr>
</table>
<button class="btn btn-success" (click)="save()">Save</button>
<button class="btn btn-danger" (click)="initDelete()">Delete</button>
<button *ngIf="confirmDelete" class="btn btn-danger" (click)="finalDelete()">Confirm Delete</button>
