<app-menu></app-menu>
<a routerLink="/users/myuser">Go Back</a>
<div>
    <table>
        <tr>
            <td>Title:</td>
            <td>
                <input [(ngModel)]="activity.title" type="text" size="30">
                <label id="actName">Give your activity a name!</label>
            </td>
        </tr>
         <tr>
            <td>Activity Type:</td>
            <td>
                <select [(ngModel)]="activityId">
                    <option *ngFor="let activity of activityTypes" value="{{activity.id}}">{{activity.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Number of problems:</td>
            <td>
                <input [(ngModel)]="size" type="number" min="1" max="20">
            </td>
        </tr>
        
    </table>
    <button (click)="create()" class="btn btn-success">Create</button>
</div>