<app-menu></app-menu>

<a routerLink="/users/myuser">Go Back</a>
<div>
    <table>
        <tr>
            <td>Title:</td>
            <td>
                <input [(ngModel)]="name" type="text" size="30">
                <label>Give your activity a name!</label>
            </td>
        </tr>
         <tr>
            <td>Activity Type:</td>
            <td>
                <select [(ngModel)]="activityId">
                    <option *ngFor="let activity of activityTypes" value="activity.id">{{activity.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Number of problems:</td>
            <td>
                <input type="number" min="1" max="20">
            </td>
        </tr>
        
    </table>
    <button class="btn btn-success">Create</button>
</div>