<app-menu></app-menu>
<a routerLink="/activities/create">Start a new activity</a>
<div>
    <h4>{{user.firstname}}'s In-Progress Activities</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Activity Title</th>
                <th>Points Earned</th>
                <th>Points Possible</th>
                <th>Score</th>
                <th>Activity Type</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let activity of inProgress">
                <td>{{activity.title}}</td>
                <td>{{activity.pointsEarned}}</td>
                <td>{{activity.pointsPossible}}</td>
                <td>{{activity.score | percent}}</td>
                <td>{{activity.activityType.name}}</td>
                <td><a routerLink="/activities/problems/{{activity.id}}">Take</a></td>
            </tr>

        </tbody>
    </table>
</div>
<div>
    <h4>{{user.firstname}}'s Completed Activities</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Activity Title</th>
                <th>Points Earned</th>
                <th>Points Possible</th>
                <th>Score</th>
                <th>Activity Type</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let activity of complete">
                <td>{{activity.title}}</td>
                <td>{{activity.pointsEarned}}</td>
                <td>{{activity.pointsPossible}}</td>
                <td>{{activity.score | percent}}</td>
                <td>{{activity.activityType.name}}</td>
                <td><a routerLink="/users/activity/{{activity.id}}">Details</a></td>
            </tr>

        </tbody>
    </table>
</div>
