<app-menu></app-menu>
<h1>Question</h1>
<h3>**Make sure NOT to click submit until ALL questions have been answered!</h3>

<p>{{activity.problems[idx].questionText}}</p>
<img src="{{activity.problems[idx].photoPath}}" alt="">
<table><tr *ngFor="let answer of answers" >
    <td><input type="radio" [(ngModel)]="activity.problems[idx].selectedAnswer" value="{{answer.selection}}" name="problem">
    <label>{{answer.selection}}</label></td>
</tr>
</table>
<button (click)="previous()" class="btn btn-primary">Back</button>
<button (click)="next()">Next</button>
