<app-menu></app-menu>
<div style="text-align:center">
    <h2>Question {{idx + 1}} of {{activity.problems.length}}</h2>
    <h3>**Make sure NOT to click submit until ALL questions have been answered!</h3>

</div>

<!-- Turn this into a bootstrap form -->
<div class="container">
    <form>
    
        <div class="form-check ">
                    <p>{{activity.problems[idx].questionText}}</p>
            
                    <img src="{{activity.problems[idx].photoPath}}" alt="">
                    <div class="form-check" tr *ngFor="let answer of answers">
                        <input type="radio" class="form-input-check" [(ngModel)]="activity.problems[idx].selectedAnswer" 
                                value="{{answer.selection}}" name="{{answer.selection}}">
                        <label class="form-check-label" for="{{answer.selection}}">{{answer.selection}}</label>
    
                    </div>
                    <button *ngIf="back" (click)="previous()" class="btn btn-primary">Back</button>
                    <button *ngIf="forward" (click)="next()" class="btn btn-primary">Next</button>
                    <button (click)="initialSubmit()" class="btn btn-success">Submit</button>
                    <button *ngIf="initSubmit" (click)="finalSubmit()" class="btn btn-success">Confirm Submit</button>
                </div>
    </form>

</div>