

button {
    margin: 5 px;
}

#login {

    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 5px;
    padding: 10px;
    border: solid black;
    vertical-align: center;
    text-align: center;
    
}
#error {
    margin-left: 300px;
}

#create {
    float: right;
    margin-right: 300px;
}