<div id="login">
    <h1>String Music App Login</h1>
    <span>User Name: </span>
    <input [(ngModel)]="this.username" type="text" size="30">
    <p></p>
    <span>Password:  </span>
    <input [(ngModel)]="this.password" type="password" size="30">
    <p></p>
    <button (click)="login()" class="btn btn-success">Login</button>
</div>

<label id="error" *ngIf="error">Invalid user name/password combination</label>
<div id="create">
    <label >Don't have an account? Create one &nbsp;</label>
    <a routerLink="/users/create">here</a>
</div>
