<app-menu></app-menu>
<h1>Activities</h1>
<div>
    <h2>Types</h2>
    <a routerLink="/activities/type/create">Create new type</a>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let type of activityTypes">
            <td>{{type.id}}</td>
            <td>{{type.name}}</td>
            <td><a routerLink="/activities/type/edit/{{type.id}}">Edit</a></td>
        </tr>
    </table>
</div>
<div>
    <h2>All Activities</h2>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Score</th>
            <th>User Id</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let activity of activities">
            <td>{{activity.id}}</td>
            <td>{{activity.title}}</td>
            <td>{{activity.score}}</td>
            <td>{{activity.userId}}</td>
            <td>{{activity.isComplete | boolPipe}}</td>
            <td><button (click)="delete(activity.id)">Remove</button>
                <button (click)="reset(activity)">Reset</button>
            </td>
        </tr>
    </table>
</div>
